.Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Filters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.HeaderLayout {
  padding-bottom: 10vh;
}

.Main-content {
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  gap: 20px;
}
