.ContentDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3%;
}
.detail-hr {
  width: 100%;
  height: 2px;
  background-color: #f2f4f7;
}

.Images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Principal {
  height: 40vh;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(199, 199, 199, 0.2);
  border-radius: 10px;
}

.Principal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Galeria {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Galeria img {
  width: 60px;
  height: 100%;
  object-fit: contain;
}

.Galeria img {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.Galeria img:hover {
  opacity: 1;
}

.Galeria img.active {
  border: 1px solid rgba(27, 27, 27, 0.5); /* Resalta la imagen seleccionada */
  opacity: 1;
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Buy {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Buy button:hover {
  background-color: #333333;
}

.AddCart {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .ContentDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Info {
    width: 100%;
  }
}
