.Logo h1 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.Icons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.Icons .Menu {
  display: none;
}

.Menu .Icon {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.Icons .CartIcon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.Icons .CartIcon svg {
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
}

.Icons .CartIcon .Badge {
  position: absolute;
  width: 15px;
  height: 15x;
  top: -8px;
  right: -8px;
  background: gray;
  border-radius: 50%;
}

.Icons .CartIcon .Badge span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7rem;
}

.CartAside {
  display: none;
}

.MostrarCart {
  display: block;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  pointer-events: all;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  z-index: 999;
}

.Nav .NavHeader h1 {
  font-size: 1.15rem;
}

.Header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 10vh;
}

li svg {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.CartAside {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh !important;
  top: 0vh;
  left: -100%;
  width: 25%;
  background: rgb(255, 255, 255);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
}

.NavHeader .Content svg {
  cursor: pointer;
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .Icons .Menu {
    display: block;
  }

  .MostrarNav {
    left: 0 !important;
    top: 0vh;
    display: block;
  }

  .MostrarCart {
    left: 0 !important;
    top: 0vh;
    display: block;
  }

  .Header .Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 10vh;
    color: rgb(0, 0, 0);
    background: #f2f4f7;
  }

  .Nav {
    top: 0vh;
    left: -100%;
    position: absolute;
    height: 100vh;
    width: 80%;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }

  ul {
    padding: 0 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 10vh;
    background: #ffffff;
  }

  ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 0.16fr 1fr;
    justify-content: center;
    align-items: center;

    height: 5vh;
  }

  ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .CartAside {
    width: 80%;
  }

  .CartAside .NavHeader h1 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  .NavHeader {
    display: none;
  }

  .CartAside {
    min-width: 300px;
  }

  .CartAside .NavHeader {
    display: block;
  }

  .MostrarCart {
    left: 0 !important;
    top: 0vh;
    display: block;
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh;
    z-index: 999;
  }

  .Header {
    width: 100%;
  }

  .Content {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f2f4f7;
  }

  .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Logo img {
    height: 100%;
  }

  .Nav ul {
    gap: 10px;
    list-style: none;
    display: flex;
  }

  ul li {
    gap: 10px;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 0.16fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
  }
  li:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}
