.content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busqueda {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.busqueda input {
  height: 30px;
  width: 100% !important;
  border: none;
  border-bottom: 1px solid #0e0e0e;
  outline: none;
  transition: 0.4s all ease;
}
