.Layout {
  width: 100%;
  display: grid;
  grid-template-rows: 10vh auto auto;
}

.HeaderLayout {
  width: 100%;
}

.FooterLayout {
  width: 100%;
  min-height: 30vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f7;
}
